## **goodbooks-10k-the-latest**

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
book_tags_df = pd.read_csv("/kaggle/input/goodbooks-10k-the-latest/book_tags.csv")
books_df = pd.read_csv("/kaggle/input/goodbooks-10k-the-latest/books.csv")
ratings_df = pd.read_csv("/kaggle/input/goodbooks-10k-the-latest/ratings.csv")
tags_df = pd.read_csv("/kaggle/input/goodbooks-10k-the-latest/tags.csv")
to_read_df = pd.read_csv("/kaggle/input/goodbooks-10k-the-latest/to_read.csv")

In [3]:
books_df['original_publication_year'] = books_df[(books_df['original_publication_year'] > 0) & (books_df['original_publication_year'] > 1900)]['original_publication_year']

/usr/local/lib/python3.11/dist-packages/pandas/core/computation/expressions.py:73: RuntimeWarning: invalid value encountered in greater
  return op(a, b)

In [5]:
books_df = pd.read_csv("/kaggle/input/goodbooks-10k-the-latest/books.csv")
books_df.head()

,book_id,goodreads_book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,...,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url
0,1,2767052,2767052,2792775,272,439023483,9.780439e+12,Suzanne Collins,2008.0,The Hunger Games,...,4780653,4942365,155254,66715,127936,560092,1481305,2706317,https://images.gr-assets.com/books/1447303603m...,https://images.gr-assets.com/books/1447303603s...
1,2,3,3,4640799,491,439554934,9.780440e+12,"J.K. Rowling, Mary GrandPré",1997.0,Harry Potter and the Philosopher's Stone,...,4602479,4800065,75867,75504,101676,455024,1156318,3011543,https://images.gr-assets.com/books/1474154022m...,https://images.gr-assets.com/books/1474154022s...
2,3,41865,41865,3212258,226,316015849,9.780316e+12,Stephenie Meyer,2005.0,Twilight,...,3866839,3916824,95009,456191,436802,793319,875073,1355439,https://images.gr-assets.com/books/1361039443m...,https://images.gr-assets.com/books/1361039443s...
3,4,2657,2657,3275794,487,61120081,9.780061e+12,Harper Lee,1960.0,To Kill a Mockingbird,...,3198671,3340896,72586,60427,117415,446835,1001952,1714267,https://images.gr-assets.com/books/1361975680m...,https://images.gr-assets.com/books/1361975680s...
4,5,4671,4671,245494,1356,743273567,9.780743e+12,F. Scott Fitzgerald,1925.0,The Great Gatsby,...,2683664,2773745,51992,86236,197621,606158,936012,947718,https://images.gr-assets.com/books/1490528560m...,https://images.gr-assets.com/books/1490528560s...

In [6]:
books_df.describe()

,book_id,goodreads_book_id,best_book_id,work_id,books_count,isbn13,original_publication_year,average_rating,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5
count,10000.00000,1.000000e+04,1.000000e+04,1.000000e+04,10000.000000,9.415000e+03,9979.000000,10000.000000,1.000000e+04,1.000000e+04,10000.000000,10000.000000,10000.000000,10000.000000,1.000000e+04,1.000000e+04
mean,5000.50000,5.264697e+06,5.471214e+06,8.646183e+06,75.712700,9.755044e+12,1981.987674,4.002191,5.400124e+04,5.968732e+04,2919.955300,1345.040600,3110.885000,11475.893800,1.996570e+04,2.378981e+04
std,2886.89568,7.575462e+06,7.827330e+06,1.175106e+07,170.470728,4.428619e+11,152.576665,0.254427,1.573700e+05,1.678038e+05,6124.378132,6635.626263,9717.123578,28546.449183,5.144736e+04,7.976889e+04
min,1.00000,1.000000e+00,1.000000e+00,8.700000e+01,1.000000,1.951703e+08,-1750.000000,2.470000,2.716000e+03,5.510000e+03,3.000000,11.000000,30.000000,323.000000,7.500000e+02,7.540000e+02
25%,2500.75000,4.627575e+04,4.791175e+04,1.008841e+06,23.000000,9.780316e+12,1990.000000,3.850000,1.356875e+04,1.543875e+04,694.000000,196.000000,656.000000,3112.000000,5.405750e+03,5.334000e+03
50%,5000.50000,3.949655e+05,4.251235e+05,2.719524e+06,40.000000,9.780452e+12,2004.000000,4.020000,2.115550e+04,2.383250e+04,1402.000000,391.000000,1163.000000,4894.000000,8.269500e+03,8.836000e+03
75%,7500.25000,9.382225e+06,9.636112e+06,1.451775e+07,67.000000,9.780831e+12,2011.000000,4.180000,4.105350e+04,4.591500e+04,2744.250000,885.000000,2353.250000,9287.000000,1.602350e+04,1.730450e+04
max,10000.00000,3.328864e+07,3.553423e+07,5.639960e+07,3455.000000,9.790008e+12,2017.000000,4.820000,4.780653e+06,4.942365e+06,155254.000000,456191.000000,436802.000000,793319.000000,1.481305e+06,3.011543e+06

In [7]:
books_df['original_publication_year'] = books_df[(books_df['original_publication_year'] > 0) & (books_df['original_publication_year'] > 1900)]['original_publication_year']

/usr/local/lib/python3.11/dist-packages/pandas/core/computation/expressions.py:73: RuntimeWarning: invalid value encountered in greater
  return op(a, b)

In [5]:
books_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 23 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   book_id                    10000 non-null  int64
 1   goodreads_book_id          10000 non-null  int64
 2   best_book_id               10000 non-null  int64
 3   work_id                    10000 non-null  int64
 4   books_count                10000 non-null  int64
 5   isbn                       9300 non-null   object
 6   isbn13                     9415 non-null   float64
 7   authors                    10000 non-null  object
 8   original_publication_year  9594 non-null   float64
 9   original_title             9415 non-null   object
 10  title                      10000 non-null  object
 11  language_code              8916 non-null   object
 12  average_rating             10000 non-null  float64
 13  ratings_count              10000 non-null  int64
 14  work_ratings_count         10000 non-null  int64
 15  work_text_reviews_count    10000 non-null  int64
 16  ratings_1                  10000 non-null  int64
 17  ratings_2                  10000 non-null  int64
 18  ratings_3                  10000 non-null  int64
 19  ratings_4                  10000 non-null  int64
 20  ratings_5                  10000 non-null  int64
 21  image_url                  10000 non-null  object
 22  small_image_url            10000 non-null  object
dtypes: float64(3), int64(13), object(7)
memory usage: 1.8+ MB

In [4]:
books_df[['ratings_1', 'ratings_2', 'ratings_3', 'ratings_4', 'ratings_5']].describe()

           ratings_1      ratings_2      ratings_3     ratings_4     ratings_5
count   10000.000000   10000.000000   10000.000000  1.000000e+04  1.000000e+04
mean     1345.040600    3110.885000   11475.893800  1.996570e+04  2.378981e+04
std      6635.626263    9717.123578   28546.449183  5.144736e+04  7.976889e+04
min        11.000000      30.000000     323.000000  7.500000e+02  7.540000e+02
25%       196.000000     656.000000    3112.000000  5.405750e+03  5.334000e+03
50%       391.000000    1163.000000    4894.000000  8.269500e+03  8.836000e+03
75%       885.000000    2353.250000    9287.000000  1.602350e+04  1.730450e+04
max    456191.000000  436802.000000  793319.000000  1.481305e+06  3.011543e+06

In [15]:
ratings_df = pd.read_csv("/kaggle/input/goodbooks-10k-the-latest/ratings.csv")
ratings_df.head()

   user_id  book_id  rating
0        1      258       5
1        2     4081       4
2        2      260       5
3        2     9296       5
4        2     2318       3

In [8]:
ratings_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5976479 entries, 0 to 5976478
Data columns (total 3 columns):
 #   Column   Dtype
---  ------   -----
 0   user_id  int64
 1   book_id  int64
 2   rating   int64
dtypes: int64(3)
memory usage: 136.8 MB

In [9]:
tags_df = pd.read_csv("/kaggle/input/goodbooks-10k-the-latest/tags.csv")
book_tags_df = pd.read_csv("/kaggle/input/goodbooks-10k-the-latest/book_tags.csv")

tags_df.head()

   tag_id tag_name
0       0        -
1       1     --1-
2       2    --10-
3       3    --12-
4       4   --122-

In [10]:
book_tags_df.head()

   goodreads_book_id  tag_id   count
0                  1   30574  167697
1                  1   11305   37174
2                  1   11557   34173
3                  1    8717   12986
4                  1   33114   12716

In [4]:
full_tags_df = pd.merge(book_tags_df, tags_df, how = "left", on="tag_id")
print(full_tags_df.shape)
full_tags_df.head()

(999912, 4)

   goodreads_book_id  tag_id   count           tag_name
0                  1   30574  167697            to-read
1                  1   11305   37174            fantasy
2                  1   11557   34173          favorites
3                  1    8717   12986  currently-reading
4                  1   33114   12716        young-adult

In [5]:
# Merge on book_id
merged_df = pd.merge(books_df, full_tags_df, how = "left", on="goodreads_book_id")

# Show result
print(f"Length: {len(merged_df)}")
merged_df.head()

Length: 999912

,book_id,goodreads_book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,...,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url,tag_id,count,tag_name
0,1,2767052,2767052,2792775,272,439023483,9.780439e+12,Suzanne Collins,2008.0,The Hunger Games,...,66715,127936,560092,1481305,2706317,https://images.gr-assets.com/books/1447303603m...,https://images.gr-assets.com/books/1447303603s...,11557,50755,favorites
1,1,2767052,2767052,2792775,272,439023483,9.780439e+12,Suzanne Collins,2008.0,The Hunger Games,...,66715,127936,560092,1481305,2706317,https://images.gr-assets.com/books/1447303603m...,https://images.gr-assets.com/books/1447303603s...,8717,35418,currently-reading
2,1,2767052,2767052,2792775,272,439023483,9.780439e+12,Suzanne Collins,2008.0,The Hunger Games,...,66715,127936,560092,1481305,2706317,https://images.gr-assets.com/books/1447303603m...,https://images.gr-assets.com/books/1447303603s...,33114,25968,young-adult
3,1,2767052,2767052,2792775,272,439023483,9.780439e+12,Suzanne Collins,2008.0,The Hunger Games,...,66715,127936,560092,1481305,2706317,https://images.gr-assets.com/books/1447303603m...,https://images.gr-assets.com/books/1447303603s...,11743,13819,fiction
4,1,2767052,2767052,2792775,272,439023483,9.780439e+12,Suzanne Collins,2008.0,The Hunger Games,...,66715,127936,560092,1481305,2706317,https://images.gr-assets.com/books/1447303603m...,https://images.gr-assets.com/books/1447303603s...,10064,12985,dystopian

In [6]:
merged_df.loc[:, merged_df.select_dtypes("O").columns] = (
    merged_df.select_dtypes("O").fillna("")
)

merged_df.loc[:, merged_df.select_dtypes(["int64", "float64"]).columns] = (
    merged_df.select_dtypes(["int64", "float64"]).fillna(0)
)

merged_df.isnull().sum()

book_id                      0
goodreads_book_id            0
best_book_id                 0
work_id                      0
books_count                  0
isbn                         0
isbn13                       0
authors                      0
original_publication_year    0
original_title               0
title                        0
language_code                0
average_rating               0
ratings_count                0
work_ratings_count           0
work_text_reviews_count      0
ratings_1                    0
ratings_2                    0
ratings_3                    0
ratings_4                    0
ratings_5                    0
image_url                    0
small_image_url              0
tag_id                       0
count                        0
tag_name                     0
dtype: int64

In [7]:
print(f"Data Features:\n {merged_df.columns}")

Data Features:
 Index(['book_id', 'goodreads_book_id', 'best_book_id', 'work_id',
       'books_count', 'isbn', 'isbn13', 'authors', 'original_publication_year',
       'original_title', 'title', 'language_code', 'average_rating',
       'ratings_count', 'work_ratings_count', 'work_text_reviews_count',
       'ratings_1', 'ratings_2', 'ratings_3', 'ratings_4', 'ratings_5',
       'image_url', 'small_image_url', 'tag_id', 'count', 'tag_name'],
      dtype='object')

In [ ]:
# Keep needed columns
feature_df = merged_df[['book_id', 'goodreads_book_id', 'title', 'authors', 'language_code', 'original_publication_year', 'average_rating', 'tag_name', 'ratings_count', 'image_url']]
feature_df.head()

,book_id,goodreads_book_id,title,authors,language_code,original_publication_year,average_rating,tag_name,ratings_count
0,1,2767052,"The Hunger Games (The Hunger Games, #1)",Suzanne Collins,eng,2008.0,4.34,favorites,4780653
1,1,2767052,"The Hunger Games (The Hunger Games, #1)",Suzanne Collins,eng,2008.0,4.34,currently-reading,4780653
2,1,2767052,"The Hunger Games (The Hunger Games, #1)",Suzanne Collins,eng,2008.0,4.34,young-adult,4780653
3,1,2767052,"The Hunger Games (The Hunger Games, #1)",Suzanne Collins,eng,2008.0,4.34,fiction,4780653
4,1,2767052,"The Hunger Games (The Hunger Games, #1)",Suzanne Collins,eng,2008.0,4.34,dystopian,4780653

In [9]:
feature_df.describe()

,book_id,goodreads_book_id,original_publication_year,average_rating,ratings_count
count,999912.000000,9.999120e+05,999912.000000,999912.000000,9.999120e+05
mean,5000.470973,5.263442e+06,1916.446687,4.002216,5.400521e+04
std,2886.743854,7.574057e+06,394.769683,0.254408,1.573685e+05
min,1.000000,1.000000e+00,0.000000,2.470000,2.716000e+03
25%,2501.000000,4.622700e+04,1990.000000,3.850000,1.356900e+04
50%,5000.000000,3.948410e+05,2004.000000,4.020000,2.115700e+04
75%,7500.000000,9.378297e+06,2011.000000,4.180000,4.105800e+04
max,10000.000000,3.328864e+07,2017.000000,4.820000,4.780653e+06

In [10]:
feature_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 999912 entries, 0 to 999911
Data columns (total 9 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   book_id                    999912 non-null  int64
 1   goodreads_book_id          999912 non-null  int64
 2   title                      999912 non-null  object
 3   authors                    999912 non-null  object
 4   language_code              999912 non-null  object
 5   original_publication_year  999912 non-null  float64
 6   average_rating             999912 non-null  float64
 7   tag_name                   999912 non-null  object
 8   ratings_count              999912 non-null  int64
dtypes: float64(2), int64(3), object(4)
memory usage: 68.7+ MB

### **SVD Model**

In [11]:
from surprise import Dataset, Reader, SVDpp
from surprise.model_selection import train_test_split
from surprise import accuracy

# Prepare data
reader = Reader(rating_scale=(1, 5))
data = Dataset.load_from_df(ratings_df[['user_id', 'book_id', 'rating']], reader)

trainset, testset = train_test_split(data, test_size=0.2, random_state=42)

# Train SVD++
svdpp = SVDpp()
svdpp.fit(trainset)

In [12]:
# Predict
predictions = svdpp.test(testset)

# Evaluate collaborative-only
print("RMSE (SVD++):", accuracy.rmse(predictions))
print("MAE (SVD++):", accuracy.mae(predictions))

RMSE: 0.8182
RMSE (SVD++): 0.8181912821450508
MAE:  0.6286
MAE (SVD++): 0.6286450039163989

In [13]:
# Prepare content features for books
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from scipy.sparse import hstack

# Filter feature_df to books in ratings
rated_book_ids = feature_df[feature_df['book_id'].isin(ratings_df['book_id'].unique())]

# TF-IDF for tags
tfidf = TfidfVectorizer(max_features=500)
tags_tfidf = tfidf.fit_transform(rated_book_ids['tag_name'])

# One-hot encode language
ohe = OneHotEncoder()
lang_ohe = ohe.fit_transform(rated_book_ids[['language_code']])

# Scale numeric features
scaler = StandardScaler()
num_features = scaler.fit_transform(rated_book_ids[['average_rating', 'ratings_count']])

# Combine
content_features = hstack([tags_tfidf, lang_ohe, num_features]).tocsr()

In [14]:
from sklearn.metrics.pairwise import cosine_similarity

def hybrid_predict(user_id, book_id, alpha=0.7):
    # Collaborative prediction
    pred = svdpp.predict(user_id, book_id).est

    # Content similarity: mean similarity to all books user rated highly
    user_books = ratings_df[ratings_df['user_id'] == user_id]
    high_rated_books = user_books[user_books['rating'] >= 4]['book_id'].values

    if len(high_rated_books) == 0:
        content_score = 0
    else:
        # Get indices
        idx_target = rated_book_ids[rated_book_ids['book_id'] == book_id].index[0]
        idx_high = [rated_book_ids[rated_book_ids['book_id'] == b].index[0] for b in high_rated_books if b in rated_book_ids['book_id'].values]

        # Cosine similarity between target book and user's liked books
        similarities = cosine_similarity(content_features[idx_target], content_features[idx_high])
        content_score = np.mean(similarities)

    # Combine
    final_score = alpha * pred + (1 - alpha) * content_score
    return final_score

In [15]:
from surprise import Prediction

# Evaluate RMSE for hybrid
hybrid_preds = []
for uid, iid, true_r in testset[:2000]:
    est = hybrid_predict(uid, iid)
    hybrid_preds.append((uid, iid, true_r, est, None))

hybrid_preds_surprise = [Prediction(uid, iid, true_r, est, None) for uid, iid, true_r, est, _ in hybrid_preds]

print("RMSE (Hybrid):", accuracy.rmse(hybrid_preds_surprise))
print("MAE (Hybrid):", accuracy.mae(hybrid_preds_surprise))

RMSE: 1.3263
RMSE (Hybrid): 1.3263211074229224
MAE:  1.1605
MAE (Hybrid): 1.1605183074935617

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity
from surprise import Prediction, accuracy
import numpy as np

# --- Step 1: Precompute all SVD predictions (vectorized) ---
print("Precomputing SVD predictions...")
svd_preds = {}
for uid, iid, _ in testset:
    svd_preds[(uid, iid)] = svdpp.predict(uid, iid).est

# --- Step 2: Precompute cosine similarity matrix between all books ---
print("Computing cosine similarity matrix for books...")
# Make sure content_features is dense if it's sparse
if hasattr(content_features, "toarray"):
    content_features_dense = content_features.toarray()
else:
    content_features_dense = content_features

book_sim_matrix = cosine_similarity(content_features_dense)

# --- Step 3: Precompute user liked books ---
print("Building user liked books map...")
# Filter for books rated >= 4 as "liked"
liked_books_by_user = ratings_df[ratings_df['rating'] >= 4].groupby('user_id')['book_id'].apply(list).to_dict()

# --- Step 4: Hybrid prediction function ---
def hybrid_predict_vectorized(uid, iid, alpha=0.5):
    """
    Combines SVD and content-based similarity into a single prediction.
    """
    # SVD prediction
    svd_score = svd_preds.get((uid, iid), 3.0)  # Default to 3.0 if missing

    # Content-based score
    liked_books = liked_books_by_user.get(uid, [])
    if not liked_books:
        content_score = 3.0  # Fallback if user has no liked books
    else:
        # Get similarity of target book to all liked books
        try:
            similarities = book_sim_matrix[iid, liked_books]
            content_score = np.mean(similarities)
        except IndexError:
            content_score = 3.0  # Fallback if book index out of bounds

    # Combine
    hybrid_score = alpha * svd_score + (1 - alpha) * content_score
    return hybrid_score

# --- Step 5: Make predictions for full test set ---
print("Predicting for full test set...")
hybrid_preds = []
for uid, iid, true_r in testset:
    est = hybrid_predict_vectorized(uid, iid)
    hybrid_preds.append(Prediction(uid, iid, true_r, est, None))

# --- Step 6: Evaluate ---
print("Evaluating hybrid model...")
print("RMSE (Hybrid):", accuracy.rmse(hybrid_preds))
print("MAE  (Hybrid):", accuracy.mae(hybrid_preds))

Precomputing SVD predictions...
Computing cosine similarity matrix for books...

In [ ]:
import pickle

# Save SVD++ model
with open("svd_model.pkl", "wb") as f:
    pickle.dump(svdpp, f)

# Save content features matrix
with open("content_features.pkl", "wb") as f:
    pickle.dump(content_features, f)

# Save content features matrix
with open("mappings.pkl", "wb") as f:
    pickle.dump(mappings, f)

## **Deployement API**

In [20]:
%%writefile main.py
from fastapi import FastAPI, HTTPException
from pydantic import BaseModel
import pickle
import numpy as np
from surprise import dump

# Load models
svdpp_model = pickle.load(open("svdpp_model.pkl", "rb"))
content_features = pickle.load(open("content_features.pkl", "rb"))
book_metadata = pickle.load(open("book_metadata.pkl", "rb"))

# API app
app = FastAPI(title="Book Recommender API")

# Input schema
class RatingRequest(BaseModel):
    user_id: int
    book_id: int
    alpha: float = 0.7  # Default weight for SVD++ in hybrid

class RecommendRequest(BaseModel):
    user_id: int
    top_n: int = 10
    alpha: float = 0.7

# Hybrid predict function
def hybrid_predict(user_id, book_id, alpha=0.7):
    try:
        # SVD++ prediction
        svdpp_pred = svdpp_model.predict(user_id, book_id).est
    except:
        svdpp_pred = 3.0  # Fallback if user/book unknown
    
    try:
        # Content-based prediction
        idx_target = book_metadata.index.get_loc(book_id)
        user_books = ratings_df[ratings_df['user_id'] == user_id]['book_id'].values
        user_books_idx = [book_metadata.index.get_loc(bid) for bid in user_books if bid in book_metadata.index]
        if user_books_idx:
            from sklearn.metrics.pairwise import cosine_similarity
            similarities = cosine_similarity(content_features[idx_target], content_features[user_books_idx])
            content_score = np.mean(similarities)
        else:
            content_score = 3.0  # Fallback
    except:
        content_score = 3.0

    # Hybrid
    return alpha * svdpp_pred + (1 - alpha) * content_score

# Predict endpoint
@app.post("/predict/")
def predict_rating(req: RatingRequest):
    try:
        pred_rating = hybrid_predict(req.user_id, req.book_id, req.alpha)
        return {"user_id": req.user_id, "book_id": req.book_id, "predicted_rating": round(pred_rating, 3)}
    except Exception as e:
        raise HTTPException(status_code=400, detail=str(e))

# Top-N recommendations
@app.post("/recommend/")
def recommend_books(req: RecommendRequest):
    try:
        all_book_ids = book_metadata['book_id'].tolist()
        preds = []
        for bid in all_book_ids:
            score = hybrid_predict(req.user_id, bid, req.alpha)
            preds.append((bid, score))
        preds.sort(key=lambda x: x[1], reverse=True)
        top_books = preds[:req.top_n]
        return {"user_id": req.user_id, "recommendations": top_books}
    except Exception as e:
        raise HTTPException(status_code=400, detail=str(e))

Writing main.py

In [ ]:
import kagglehub

LOCAL_MODEL_DIR = '/kaggle/working/'  # Directory where your model files are saved
MODEL_SLUG = 'book-recommender-svd'  # Use the model slug from your Kaggle model page
VARIATION_SLUG = 'v1' 


kagglehub.model_upload(
    handle=f"khalednabawi/{MODEL_SLUG}/keras/{VARIATION_SLUG}",
    local_model_dir=LOCAL_MODEL_DIR,
    version_notes="Upload - Book Recommender Model"
)